/* FONT : font71022 */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Courgette');
.name{
	font-family: 'Great Vibes', cursive;
	font-size:30pt;
	margin-top:8px;
}
.and{
	font-family: 'Great Vibes', cursive;
	font-size:40pt;
	color:#e86c6c;
	margin-top:8px;
	margin-left:10px;
}
.round-time{
	background-color:#e86c6c;
	color:#FFFFFF;
	max-width:80px;
	min-height:80px;
	border-radius:50%;
	margin-right: 5px;
}
.countdown-label{
	font-size:10pt;
	position:relative;
	top:-8px;
	font-style:italic;
	font-family:Courgette;
}
.countdown-time{
	position:relative;
	top:10px;
	font-size:25pt;
	font-family:Courgette;
}
div[name="mobilecta"]{
	padding-left:50px;
}
.cta div{
	margin-bottom:10px;
}
